/* App.less Style Sheets */
/* Less Variables */
/* Main Tags */
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: #3498db;
  -o-transition: color 0.2s ease-out, background 1s ease-in;
  -ms-transition: color 0.2s ease-out, background 1s ease-in;
  -moz-transition: color 0.2s ease-out, background 1s ease-in;
  -webkit-transition: color 0.2s ease-out, background 1s ease-in;
  transition: color 0.2s ease-out, background 1s ease-in;
}
a:hover,
a:active {
  color: #f1c40f;
  text-decoration: none;
}
header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  z-index: 1000;
}
footer button {
  margin: 4px auto;
  text-align: center;
}
.character-block {
  width: 100%;
  margin: 12px;
}
.main {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}
.damage-taken {
  color: red;
}
.damage-dealt {
  color: blue;
}
